* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009788 20%, #dbdbd1 20%);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container app principale */

.main-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  height: 100%;
}

.contact-container {
  width: 30%;
  background-color: rgb(230, 182, 173);
}

.chat-container {
  width: 70%;
  background-color: lightgreen;
}

/* Sezione contatti */

.common-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.user-container {
  background-color: #eaeaea;
  justify-content: space-between;
  height: 50px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
}
.avatar {
  width: 100%;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icons-container .fa-solid {
  color: #b1b1b1;
  margin: 0 7px;
}

.bell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0px 10px;
  background-color: #effdfe;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.notify-container {
  background-color: #8ad9f8;
  height: 60px;
}

.fa-bell-slash {
  font-size: 17px;
  color: #8ad9f8;
}

.not-text {
  line-height: 1;
}

.not-text div {
  font-size: 12px;
  margin-bottom: 0;
}

.not-text a {
  font-size: 10px;
  color: #386578;
}
