<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>

    <!-- GOOGLE FONT LATO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- container principale con implementazione vue js -->
    <div class="main-container" id="app">
      <!-- container contatti -->
      <div class="app-container contact-container">
        <header class="common-container user-container">
          <div class="user-info">
            <div class="profile-pic user-pic">
              <img
                src="https://png.pngtree.com/png-clipart/20220124/original/pngtree-creative-animal-avatar-art-small-illustration-design-png-image_7190208.png"
                class="avatar"
                alt="User Avatar"
              />
            </div>
            <div>Paul</div>
          </div>
          <div class="icons-container">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </header>

        <!-- Sezione notifiche nuovi messaggi -->
        <div class="common-container notify-container">
          <div class="bell">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="not-text">
            <div>Ricevi notifiche dei nuovi messaggi</div>
            <a href="">Attiva le notifiche Desktop</a>
          </div>
        </div>
        <!-- /Sezione notifiche nuovi messaggi -->

        <!-- Barra di ricerca -->
        <div class="bar-container">
          <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              placeholder="Cerca o inizia una nuova chat"
              v-model="searchQuery"
            />
          </div>
        </div>
        <!-- Barra di ricerca -->

        <!-- Lista Contatti -->
        <div class="contact-list">
          <div
            class="common-container contact-panel"
            v-for="contact in filteredContacts"
            :key="contact.id"
            @click="() => showChat(contact.id)"
            :class="{ 'selected-contact': contact.id === contacts[selectedContactIndex]?.id }"
          >
            <div class="user-info">
              <div class="profile-pic contact-pic">
                <img
                  :src="contact.avatar"
                  class="avatar"
                  :alt="contact.name + ' Avatar'"
                />
              </div>
              <div class="contact-name">
                <div class="name-changing">{{ contact.name }}</div>
                <div class="last-message">
                  {{ shortMessage(getLastMessage(contact)) }}
                </div>
              </div>
            </div>
            <div class="last-access">
              <div>12:00</div>
            </div>
          </div>
        </div>
      </div>
      <!--i Lista Contatti -->
      <!-- /container contatti -->

      <!-- container chat -->
      <main class="app-container chat-container">
        <!-- Profilo chat -->
        <div class="common-container user-container">
          <div class="user-info">
            <div class="profile-pic user-pic">
              <img
                v-if="selectedContactIndex !== null && contacts[selectedContactIndex]"
                :src="contacts[selectedContactIndex].avatar"
                class="avatar"
                :alt="contacts[selectedContactIndex].name + ' Avatar'"
              />
            </div>
            <div class="cavatar-text">
              <div
                v-if="selectedContactIndex !== null && contacts[selectedContactIndex]"
              >
                {{ contacts[selectedContactIndex].name }}
              </div>
              <div
                v-if="selectedContactIndex !== null && contacts[selectedContactIndex].lastAccess"
              >
                Ultimo accesso: {{ contacts[selectedContactIndex].lastAccess }}
              </div>
            </div>
          </div>
          <div class="icons-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- /Profilo chat -->

        <!-- Contenuto Chat -->
        <div class="chat">
          <div v-if="selectedContactIndex !== null" class="mess-container">
            <div
              v-for="message in contacts[selectedContactIndex].messages"
              :key="message.date"
              :class="{
                'received': message.status === 'received',
                'sent': message.status === 'sent'
              }"
              class="message-container"
            >
              <!-- Contenitore del messaggio -->
              <div class="message">
                <div class="msg-text">
                  <p class="content">{{ message.message }}</p>
                </div>
                <span class="timestamp">{{ extractTime(message.date) }}</span>
              </div>

              <!-- Icona per eliminare il messaggio -->
              <div class="delete-message-icon">
                <i
                  class="fa-solid fa-chevron-down"
                  @click="showDeleteConfirmation(message)"
                ></i>
                <!-- /Icona per eliminare il messaggio -->
                <!-- Tendina per confermare l'eliminazione -->
                <div
                  v-if="message.showConfirmation"
                  class="confirmation-dropdown"
                >
                  <div class="delete-container">
                    <button class="drop-button" @click="deleteMessage(message)">
                      Elimina
                    </button>
                    <button class="drop-button" @click="cancelDelete(message)">
                      Annulla
                    </button>
                  </div>
                  <!-- /Tendina per confermare l'eliminazione -->
                </div>
              </div>
              <!-- /Contenitore del messaggio -->
            </div>
          </div>
        </div>
        <!-- /Contenuto Chat -->

        <!-- Barra di invio messaggi -->
        <footer>
          <div class="bar-footer">
            <i class="fa-solid fa-face-smile"></i>
            <div class="footer-chat">
              <input
                type="text"
                placeholder="Cerca o inizia una nuova chat"
                v-model="newMessage"
                @keyup.enter="() => sendMessage()"
              />
            </div>
            <i
              id="sendicon"
              class="fa-solid"
              :class="{'fa-microphone': !newMessage.trim(), 'fa-paper-plane': newMessage.trim()}"
              @click="sendMessage()"
            ></i>
          </div>
        </footer>
        <!-- /Barra di invio messaggi -->
      </main>
      <!-- /container chat -->
    </div>
    <!-- /container principale con implementazione vue js -->

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JS -->
    <script src="script.js"></script>
  </body>
</html>
